.flex-box {
    display: flex;
    display: -webkit-flex;/*| row-reverse | column | column-reverse*/
    flex-direction: row ; /*默认行排列*/
    flex-wrap:nowrap; /*不换行。*/
}
.flex-title li,.flex-box li {
    margin-left: 0;
}
.flex-box li {
    list-style: none;
}
.flex-title h4 {
    padding-left: 15px;
}
.box {
    width:200px;
    height: 200px;
    line-height: 200px;
    /*text-align: center;*/
}
.box-red {
    background: red;
}
.box-orange {
    background: orange;
}
.box-yellow {
    background: yellow;
}
.box-blue {
    background: blue;
}
.box-green {
    background: green;
}
.box-purple {
    background: purple;
}
.pd-top {
    padding-top: 30px;
}
.justify-box {
    width: 100%;
    height: 200px;
    border: 1px solid;
}
.justify-box li {
    width: 50px;
    height: 60px;
    float: left;
}
.justify-box li:first-of-type {
    margin-left: -40px;
}
.box1,.box2,.box3,.box4,.grow-box1,.grow-box2,.grow-box3,.grow-box4 {
    width: 100px;
    height: auto;
    min-height: 50px;
}
.box1 {
    order: 1;
}
.box2 {
    order: 2;
}
.box3 {
    order: 3;
}
.box4 {
    order: 4;
}

.grow-box1 {
    flex-grow: 2;
}
.grow-box2 {
    flex-grow: 1;
}
.grow-box3 {
    flex-grow: 1;
}
.grow-box4 {
     flex-grow: 2;
 }
.box1,.grow-box1 {
    margin-left: -40px;
}
.shrink-box1,.shrink-box2,.shrink-box3,.shrink-box4 {
    width: 150px;
    height: 100px;
}
.shrink-box1 {
    flex-shrink: 0;
}
.shrink-box2 {
    flex-shrink: 0;
}
.shrink-box3 {
    flex-shrink: 0;
}
.shrink-box4 {
    flex-shrink: 1;
}



